#lcd {
    border-spacing: 0;
    border-collapse: collapse;
}

#lcd tr {
    height: 2px;
    padding: 0;
    margin: 0;
    border: 0;
}

#lcd td {
    width: 2px;
    height: 2px;
    padding: 0;
    margin: 0;
    border: 0;
    background: url(img/pixel.png);
}